h3 {
    color: blue;
    font-family: 'Blackadder ITC'
    tamaño
}

body {
    background-color: white;
    font-family: sans-serif;
}

input {
    background-color: black;
    color: blue;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
    font-size: 24px;
    height: 30px;
}

button {
    width: 50px;
    height: 50px;
    background-color: black;
    color: #eee;
    border: 1px solid #555;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
}

#btnsuma {
    background-color: lawngreen;
    color: black;
}

#btnresta {
    background-color: lawngreen;
    color: black;
}

#btnMultiplicar {
    background-color: lawngreen;
    color: black;
}

#btnDividir {
    background-color: lawngreen;
    color: black;
}

calculator {
    width: 300px;
    margin: 50px auto;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

