h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    background: linear-gradient(45deg, #ff0000, #ffa500, #ffff00, #32cd32, #1e90ff, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('img/Junior.webp') no-repeat center center;
    background-size: cover;
}
body, html {
    margin: 0;
    padding: 0;
    font-family:Harrington;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.calculator {
    background-color:black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

input {
    width: 100%;
    height: 60px;
    text-align: right;
    font-size: 2em;
    margin-bottom: 20px;
    border: none;
    background-color: #222;
    color: white;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #555;
    color: blue;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #777;
    }
